<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/ng-cordova-beacon.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">First Impression Beacon Test</h1>
      </ion-header-bar>
      <ion-content ng-controller="ExampleController">
          <div class="list">
              <div class="item" ng-repeat="(key, value) in beacons">
                  <div class="row">
                      <div class="col truncate">
                          {{value.uuid}}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          major: {{value.major}}
                      </div>
                      <div class="col">
                          minor: {{value.minor}}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          {{value.proximity}}
                      </div>
                  </div>
              </div>
          </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
